includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: 9
  paths:
    - tests
  scanDirectories:
    - vendor/swoole/ide-helper/src
  strictRules:
    allRules: true
