<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory="var/cache/phpuinit"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="memory_limit" value="-1"/>

        <!-- E_ALL & ~E_DEPRECATED -->
        <ini name="error_reporting" value="24575"/>
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="var/phpunit/html-coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
